.btn {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;

  display: block;
  padding: rem(18) rem(42);
  width: 100%;

  background-color: $dk-grey-1;
  border-radius: rem(30);
  border: none;

  font-size: rem(15);
  line-height: 1;
  font-weight: 700;
  letter-spacing: rem(1);
  color: $white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  
  user-select: none;
  white-space: nowrap;

  @include transition($tr-s);

  @include breakpoint($bp-s) {
    display: inline-block;
    width: auto;
  }

  &:hover,
  &:focus {
    outline: none;

    background-color: shade($dk-grey-1, 10%);
    @include transform(scale(1.02));
    @include transition($tr-m);

    box-shadow: 0 2px 9px rgba(0,0,0,.25);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
