// Typography
$base-font: 'Roboto', 'Helvetica' sans-serif;

// Font Sizes
$base-font-size: rem(18);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1;

// Other Sizes
$base-border-radius: 3px;

$modal-padding-s: rem(0);
$modal-padding-m: rem(30);
$modal-padding-l: rem(60);

// Colors
$white: #fff;
$lt-grey-1: #f8f8f8;
$lt-grey-2: #eee;
$md-grey-1: #666;
$dk-grey-1: #333;

// Font Colors
$base-background-color: $white;
$base-font-color: $md-grey-1;
$headline-font-color: $dk-grey-1;

// Placeholder Background Image
$bkg-img: url('../img/bkg-img.png');

// Transitions
$tr-s: all .25s $ease-in-out-back;
$tr-m: all .5s $ease-in-out-back;
$tr-l: all .75s $ease-in-out-back;
