.countdown {
  background-color: $white;

  .countdownContainer {
    @include outer-container;

    h3 {
      text-align: center;
      margin-bottom: rem(36);
    }

    .countdownContainer-content {
      @include span-columns(6);
      @include omega;
      text-align: center;

      h5 {
        color: $dk-grey-1;
      }

      @include breakpoint($bp-l) {
        @include span-columns(3);
      }
    }
  }
}