.footer {
  background-color: $white;
  padding-left: rem(30);
  padding-right: rem(30);

  .footerContainer {
    @include outer-container;

    .footerContainer-content {
      @include span-columns(12);

      p {
        font-size: rem(15);
        display: block;
        text-align: center;

        &:first-of-type {
          margin-bottom: 0;
        }
        &:last-of-type {
          margin-top: 0;
        }

        @include breakpoint($bp-m) {
          display: inline-block;
          margin: rem(18) 0 !important;

          &:last-of-type {
            float: right;
          }
        }
      }
    }
  }
}