.host {
  background-color: $lt-grey-1;
  overflow: hidden;

  .hostContainer {
    @include outer-container;

    @include breakpoint($bp-m) {
      @include row($direction: RTL);
    }

    .hostContainer-host {
      @include span-columns(12);

      display: block;
      max-height: rem(400);
      text-align: center;

      img {
        height: rem(400);
      }

      @include breakpoint($bp-m) {
        @include span-columns(6);
        max-height: rem(10);
      }
    }

    .hostContainer-content {
      @include span-columns(12);

      h4 {
        margin-top: rem(6);
      }

      @include breakpoint($bp-m) {
        @include span-columns(4);
        @include shift(2);
      }

      .hostContainer-content-social {
        margin-top: rem(30);
        a {
          display: inline-block;
          height: rem(18);
          width: rem(18);
          text-indent: rem(-9999);
          margin-right: rem(9);

          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            @include transform(scale(1.1));
            @include transition($tr-m);
          }

          &.twitter {
            background-image: url('../img/icons/twitter.png');
          }

          &.linkedin {
            background-image: url('../img/icons/linkedin.png');
          }

          &.dribbble {
            background-image: url('../img/icons/dribbble.png');
          }
        }
      }
    }
  }
  @include reset-layout-direction;
}